<div class="left-side-bar">
  <div class="brand-logo">
    <a href="#"><img class="text-red-50" src="../../../assets/images/swell-logo.svg"></a>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <li>
          <a class="dropdown-toggle no-arrow cursor-pointer" routerLink="/products">
            <span class="micon dw dw-shop"></span><span class="mtext">Products</span>
          </a>
        </li>
        <li>
          <a class="dropdown-toggle no-arrow" href="#">
            <span class="micon dw dw-shopping-cart"></span><span class="mtext">Orders</span>
          </a>
        </li>
        <li>
          <a class="dropdown-toggle no-arrow" href="#">
            <span class="micon dw dw-key3"></span><span class="mtext">Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>
